body {
    background-color: #343a40;
    color: #dee2e6;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    text-align: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #495057;
    border: 1px solid #495057;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.logininput {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 15px;
}

#loginbutton:hover {
    background-color: #0056b3;
}

.navbar {
    background-color: #343a40;
}

.navbar-dark .navbar-nav .nav-link {
    color: #dee2e6;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #dee2e6;
}

.edit-icon {
    height: 23px;
    width: 23px;
}